@page "/Edit"
@model Blog_asp.net.Pages.Blog.EditModel
@{
}


<div>

	
	@if(Model.EditId == 0)
	{
		<h1 class="text-lg-center m-5">Vytvořít nový příspěvek.</h1>
	}
	else
	{
		<h1 class="text-lg-center m-5">Editovat příspěvek.</h1>
	}


	<form method="post" class="w-50 mx-auto m-5">

		<div class="mb-3">
			<input asp-for="PostM.Title" type="text" class="form-control" placeholder="Title">
			<span asp-validation-for="PostM.Title" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<input asp-for="PostM.Text" type="text" class="form-control" placeholder="Text">
			<span asp-validation-for="PostM.Text" class="text-danger"></span>
		</div>

		<div class="form-check">
			<input asp-for="PostM.IsOnTop" class="form-check-input" type="checkbox" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
				Připnout?
			</label>
		</div>

		<button class="btn btn-primary my-3" type="submit">Odeslat</button>
	</form>
















</div>